<header class="masthead">  <!-- esta clase( en css header.masthead) tiene la imagen: andrew-draper-ZjJd4jXN_G0-unsplash-->
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Libreria Virtual</h1>
                       <hr class="divider" />                       
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">
                            “Los libros son las abejas que llevan el polen de una inteligencia a otra.” –  James Russell Lowell                            
                        </p>
                        <a class="btn btn-primary btn-md" href="#inicio">Inicio/Menú</a>
                    </div>
                </div>
            </div>
        </header>