  <!-- Section Menu -->
        <section class="page-section" id="inicio" >
            <div class="container-fluid p-0">
                <h2 class="text-center mt-0">Menú Libreria</h2>
                <hr class="divider" />
                <div class="row gx-3 gx-lg-4">
                    <div class="col-lg-4 col-md-3 text-center" id="libro">
                        <div class="mt-3">
                            <div class="mb-2"><i class="bi-book fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-1">Menú Libros</h3>
                            <a href="/libro/crear_libro" class="btn btn-danger btn-x1"> Agregar Libro</a>
                            <a href="/libro/lista_libro" class="btn btn-dark btn-x1"> Listar Libros</a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 text-center" id="autor">
                        <div class="mt-3">
                            <div class="mb-2"><i class="bi-vector-pen fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-1">Menú Autor</h3>

                            <a href="/autor/crear_autor" class="btn btn-danger btn-x3"> Agregar Autor</a>
                            <a href="/autor/lista_autor" class="btn btn-dark btn-x3" >Listar Autores</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 text-center" id="editorial">
                        <div class="mt-3">
                            <div class="mb-2"><i class="bi-house fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-1">Menú Editorial</h3>                           
                            <a href="/editorial/crear_editorial" class="btn btn-danger btn-x3"> Agregar Editorial</a>
                            <a href="/editorial/lista_editorial" class="btn btn-dark btn-x3" >Listar Editoriales</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="container px-5 px-lg-5">
                <h2 class="text-center mt-0">Menú de Clientes y Prestamos</h2>
                <hr class="divider" />
                <div class="row gx-3 gx-lg-4">
                    <div class="col-lg-6 col-md-9 text-center" id="cliente">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-person fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Menú Clientes</h3>
                            <a href="/cliente/crear_cliente" class="btn btn-danger btn-x3"> Agregar Cliente</a>
                            <a href="/cliente/lista_cliente" class="btn btn-dark btn-x3" >Listar Clientes</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-9 text-center" id="prestamo">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-bag fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Menú Prestamos</h3>
                            <a href="/prestamo/crear_prestamo" class="btn btn-danger btn-x3"> Agregar Prestamo</a>
                            <a href="/prestamo/lista_prestamo" class="btn btn-dark btn-x3" >Listar Prestamos</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>   