<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body id="page-top">

        <!-- Navigation -->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!-- Header -->
        <header class="masthead">  <!-- esta clase( en css header.masthead) tiene la imagen: andrew-draper-ZjJd4jXN_G0-unsplash -->
            <div class="container mt-5"><!--Contenedor-->

                <div class="row d.flex w-100 justify-content-around text-white">
                    
                    <!-- Mensaje EXITO/ERROR-->
                <div th:replace="/fragments/msg_exito_error :: div"></div>
                    
                    <!-- TITULO-->
                    <!--<h1 th:text="${title}"></h1>-->
                    
                    <div class="col-12 px-2 text-center">
                        <h1 class="display-8 font-weight-bolder">Crear Autor</h1>
                    </div>
                    <div class="col-md-6">
                        <form class="form-row" method="Post" th:action="@{/autor/crear_autor}">
                            <!--  <input hidden th:field="*{id}"> -->                    
                            <div class="col-4">
                                <label for="">Nombre del Autor</label>
                            </div>
                            <div class="col-8 mb-3">
                                <input name="nombre" class="form-control w-100" type="text" placeholder="Ingrese el nombre del Autor" required>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                                <a th:href="@{/#autor}" class="btn btn-secondary">Volver al Menú</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script th:replace="/fragments/boostjs :: script"></script> 

    </body>
</html>

