<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body id="page-top">

        <!-- Navigation -->
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <!-- Header -->
        <header class="masthead">  <!-- esta clase( en css header.masthead) tiene la imagen: andrew-draper-ZjJd4jXN_G0-unsplash -->
            <div class="container mt-5"><!--Contenedor-->
           
            <div class="row d.flex w-100 justify-content-around text-white">

                <!-- Mensaje EXITO/ERROR-->
                <div th:replace="/fragments/msg_exito_error :: div"></div>

                <div class="col-12 px-2 text-center">
                    <h1 class="display-8 font-weight-bolder">Editar Préstamo</h1>
                </div>
                
                <div class="col-md-6">
                    <form th:action="@{/prestamo/editar_prestamo/__${prestamo.id}__}" class="row g-3" method="POST">
                            <input hidden th:value="${prestamo.id}" name="id">
                                                      
                            <div class="col-md-6">
                                <label for="inputCliente" class="form-label">Nuevo cliente del prestamo</label>
                                <!-- Uso de th:selected="${variable o condición}" para prefijar el valor actual del prestamo -->
                                <select class="form-control" name="idCliente" id="inputCliente" required>
                                    <option th:each="cliente : ${lista_cliente}" th:value="${cliente.id}"
                                        th:text="${cliente.nombre}" th:selected="${cliente.id==prestamo.cliente.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputLibro" class="form-label">Nuevo libro prestado</label>
                                <!-- Uso de th:selected="${variable o condición}" para prefijar el valor actual del prestamo -->
                                <select class="form-control" name="idLibro" id="inputLibro" required>
                                    <option th:each="libro : ${lista_libro}" th:value="${libro.id}" th:text="${libro.titulo}"
                                        th:selected="${libro.id==prestamo.libro.id}">
                                    </option>
                                </select>
                            </div>
                            
                        <div class="col-12">
                            <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                             <a th:href="@{/#prestamo}" class="btn btn-secondary">Volver al Menú</a>
                        </div>
                    </form>
                </div>
                 </div>
                </div>
        </header>
      
       <!-- Footer-->
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script th:replace="/fragments/boostjs :: script"></script> 

    </body>
</html>

