<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">LibreriaApp</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#page-top">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Acerca de</a></li>
                        <li class="nav-item"><a class="nav-link" href="#inicio">Inicio/Menú</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>                       
                    </ul>
                </div>
            </div>
        </nav><!--Fin Navegación-->

        <!-- Header -->
        <header class="masthead">  <!-- esta clase( en css header.masthead) tiene la imagen: andrew-draper-ZjJd4jXN_G0-unsplash -->
            <div class="container mt-5"><!--Contenedor-->

                <div class="row d.flex w-100 justify-content-around text-white">

                    <!-- Mensaje EXITO/ERROR-->
                    <div th:replace="/fragments/msg_exito_error :: div"></div>

                    <div class="col-12 px-2 text-center">
                        <h1 class="display-8 font-weight-bolder">Editar Autor</h1>
                    </div>
                    <div class="col-md-6">
                        <form class="form-row" method="Post" th:action="@{/autor/editar_autor/__${autor.id}__}">
                            <input hidden th:value= "${id}" name="id">                    
                            <div class="col-4">
                                <label for="">Nombre del Autor</label>
                            </div>
                            <div class="col-8 mb-3">
                                <input th:value="${autor.nombre}" name="nombre" class="form-control w-100" type="text" placeholder="Ingrese el nombre del Autor" required>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
                                <a th:href="@{/#autor}" class="btn btn-secondary">Volver al Menú</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer th:replace="/fragments/footer :: footer"></footer>

        <!-- Bootstrap core JavaScript -->
        <script th:replace="/fragments/boostjs :: script"></script> 

    </body>
</html>

