<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <head th:replace="/fragments/head :: head"></head>

    <body id="page-top">

    <!-- Navigation -->
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <!-- Inicio-->
    <!-- Header -->
    <header th:replace="/fragments/headergenerico :: header"></header>

    <!-- Section Menu -->
    <section th:replace="/fragments/sectionMenu :: section"></section>

    <!-- Footer-->
    <footer th:replace="/fragments/footer :: footer"></footer>
        
    <!-- Bootstrap core JavaScript -->
    <script th:replace="/fragments/boostjs :: script"></script> 
        
    </body>
</html>
